* {
    margin: 0%;
    padding: 0%;
    
    
    }
    body {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 40px;
        padding: 10px;
        text-align: center;
        background-image: url(laptop.jpg);
    }
    table {
        font-size: 15px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        font-display:null; 
        margin: 1px;
        padding: 40 px solid;
        border: 70px solid white;
        background-color: white;
        margin-top: 100px;
        border-radius: 20px;
    }
    
     form input[type="submit"]{
        height: 40px;
        width: 100%;
        color: rgb(7, 7, 7);
        border: none;
        background: #03f0c8;
        /* cursor: pointer; */
        border-bottom: 2px solid rgba(7, 6, 6, 0.1);
        border-radius: 10px;
    } 
    