*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', 'sans-serif';
}

.box1{
    background-color: rgba(66, 162, 63, 0.32);
}
img{
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}


a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

.p-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.product-slider-heading{
    font-size: 28px;
    text-transform: uppercase;
    color: #313131;
    text-align: center;
    margin: 0px;
}

.product-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 1px solid rbga(0, 0, 0, 0.08);
    border-radius: 10px;
    margin: 0px 20px;
}

.p-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.p-img a,
.p-img{
    width: 100%;
    height: 100%;
    display: flex;
}

.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}