body{
  margin: 0;
  padding-top: 20px;
  background-color: #344a73;
  font-family: 'Roboto', sans-serif;
}
.sign-up{
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: #fff;
  border-radius: 3px;
  /* padding-top: 20px; */
}

h1{
  text-align: center;
  padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
        display: flex;
        margin-top: 20px;
        font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;;
    border-radius: 6px;
    outline: none;
}
 button{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: #fff;
  font-size: 18px;
}

p{
  text-align: center;
  padding-top: 10px;
  font-size: 15px;

}


